.header {
  background-image: url("../assets/spacexlogo.png");  
  max-width: 940px;
  object-fit: contain;
  background-repeat: no-repeat;
  padding: 5%;
  margin-left:  auto;
  margin-right: auto;
  margin-top: 2%;
  background-size: 65%;
  background-position-x: 70%;
}